* {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --grass: mediumseagreen;
  --poison: mediumpurple;
  --fire: goldenrod;
  --flying: steelblue;
  --water: dodgerblue;
  --bug: brown;
  --normal: gray;
  --ground: peru;
  --fairy: hotpink;
  --fighting: crimson;
  --electric: hsl(51deg 73% 50%);
  --psychic: orange;
  --rock: dimgrey;
  --ice: darkcyan;
  --dragon: mediumaquamarine;
  --ghost: black;
  --dark: slategrey;
  --steel: steelblue;
  --all: dimgray
}

body {
  background-color: #f4f1fb;
  color: #2d3436;
}


.side-bar {
  position: fixed;
  min-width: 18%;
  height: 100%;
  background: linear-gradient(180deg, #cdcdce, #e6e0ec);
  border: none;
}

.action {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  font-size: 1em;
  letter-spacing: 0.05em;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 18%;
  padding: 1.2em;
  gap: 50px;
}

.card {
  width: 20em;
  transition: 0.3s;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card:hover {
  box-shadow: 0 15px 30px rgba(108, 92, 231, 0.3);
}

.meta-data {
  padding: 0 1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  border-radius: 8px;
}

.poke-image {
  width: 70%;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.name-power {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0.4em;
  font-size: 0.9em;
  color: #102323;
}

.types {
  display: flex;
  color: white;
}

.type {
  padding: 0.3em 0.6em;
  border-radius: 5px;
  font-size: 0.9em;
  margin-left: 10px;
}

.header .name {
  font-size: 1.2em;
}

.name {
  font-weight: 600;
}

.actions {
  display: flex;
  list-style: none;
  height: 100vh;
  flex-direction: column;
  font-size: 1.5em;
  overflow-y: auto;
}

.stats .name-power:last-child {
  border-bottom: none;
}

.action:hover,.action.active{
  color: white;
  background-color: var(--bg);
}